<h1>Estimate</h1>

<% if local_assigns[:errors].present? %>
  <div id='error_explanation'>
    <div class='alert alert-danger'>
      The form contains <%= pluralize(errors.count, 'error') %>.
    </div>
    <ul>
    <% errors.each do |error| %>
      <li><%= error[:message] %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag({ controller: 'projects', action: 'estimate' }, method: 'put') do %>
  <%= hidden_field_tag(:uuid, project_uuid) %>

  <div class="form-group">
    <%= label_tag(:hours) %>
    <%= number_field_tag(:hours, '', class: 'form-control') %>
  </div>

  </br>

  <%= submit_tag('Estimate', class: 'btn btn-primary') %>
  <%= link_to 'Back', project_path(project_uuid), class: 'btn btn-default' %>
<% end %>
