<h1>Project: <%= project.name %></h1>
<p>
  <% if project.estimation_in_hours.present? %>
    Estimation: <%= project.estimation_in_hours %><br/>
  <% else %>
    Estimation: <%= link_to('Estimate', new_estimation_project_path(project.uuid)) %><br/>
  <% end %>
  Deadline:   <%= project.deadline %>
</p>

<br/>

<%= link_to 'Back', projects_path, class: "btn btn-default" %>
