<h1>Project: <%= project.name %></h1>
<p>
  <% if project.estimation_in_hours.present? %>
    Estimation: <%= pluralize(project.estimation_in_hours, 'hour') %>,
    <%= link_to('Assign new estimation', new_estimation_project_path(project.uuid)) %><br/>
  <% else %>
    Estimation: <%= link_to('Estimate', new_estimation_project_path(project.uuid)) %><br/>
  <% end %>

  <% if project.deadline.present? %>
    Deadline:   <%= project.deadline.to_date %>,
    <%= link_to('Assign new deadline', new_deadline_project_path(project.uuid)) %><br/>
  <% else %>
    Deadline: <%= link_to('Assign deadline', new_deadline_project_path(project.uuid)) %><br/>
  <% end %>
</p>

<h2 id='developers-subtitle'>Developers</h2>
<%= link_to('Assign', new_assignment_project_path(project.uuid)) %>

<table class="table">
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Hours per week</th>
    </tr>
  </thead>

  <tbody>
  <% project.developers.each do |developer| %>
    <tr>
      <td><%= developer['fullname'] %></td>
      <td>
        <%= pluralize(developer['hours_per_week'], 'hour') %>,
        <%=
          link_to('Assign', new_weekly_hours_assignment_project_path(project.uuid, developer_uuid: developer['uuid']))
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2 class='<%= project_on_time ? 'project-on-time' : 'project-not-on-time' %>'>Approximate end: <%= approximate_end.present? ? approximate_end.to_date : 'N/A' %></h2>

<br/>

<%= link_to 'Back', projects_path, class: "btn btn-default" %>
